.file-item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
	background: #f6f6f4;
	border-radius: var(--border-radius);
	cursor: pointer;
	img {
		height: 35px;
		width: 35px;
		background-color: var(--background-orange);
		padding: 5px;
		border-radius: 10px;
	}
	&__name {
		font-size: 14px;
		font-weight: 500;
	}
}
