.file-item {
	display: grid;
	grid-template-columns: 1fr 5fr;
	row-gap: 10px;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px 20px;
	background: #f6f6f4;
	border-radius: var(--border-radius);
	cursor: pointer;
	img {
		height: 35px;
		width: 35px;
		background-color: var(--background-orange);
		padding: 5px;
		border-radius: 10px;
	}
	&__name {
		font-size: 14px;
		font-weight: 500;
	}
	&__list {
		padding: 5px 10px;
		background: var(--background-white);
		border-radius: var(--border-radius);
		grid-column: 1/3;
		li {
			font-size: 12px;
		}
	}
}
